@use '../../App.scss';

.navbar {
    background-color: App.$background-overlay;
    border-bottom: 2px solid App.$primary;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.n-link {
    text-decoration: none;
    color: App.$default-color;
    margin: 3px 10px;
    font-size: 20px;
}

.n-link:hover {
    color: App.$primary;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    filter: invert(100%) brightness(1000%);
}
